# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
.env
.venv/
venv/
ENV/
*.log

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------
# Playwright
# --------------------
# hasil recording video, screenshot, trace
artifacts/
test-results/
playwright-report/
blob-report/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
